section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid var(--lightest);
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: var(--white);
}

table tr:hover {
    background-color: var(--lightest);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--darkest);
    color: white;
}
