section {
    width: 500px;
    margin: auto;
}

.output {
    font-weight: bolder;
    font-size: 18pt;
    color: var(--darkest);
}

@keyframes bounce {
    0% {
        color: var(--dark);
    }
    100% {
        color: var(--darkest);
    }
}

.animate {
    animation: bounce 1s linear;
}
